﻿@model PlacedOrderModifyViewModel
@{
    ViewBag.Title = "Create";
}

<style>
    .field-validation-error {
        color: red;
    }

    .field-validation-error {
        border-color: red;
    }
</style>
@using (Html.BeginForm("Create", "PlacedOrders", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.DisplayNameFor(m => m.store_id)</td>
            <td>
                @Html.DropDownListFor(m => m.store_id, ViewBag.StoreData as List<SelectListItem>, "Select Store", null)
            </td>
            <td>@Html.ValidationMessageFor(m => m.store_id)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(m => m.time_placed)</td>
            <td>
                @Html.TextBoxFor(m => m.time_placed)
            </td>
            <td>@Html.ValidationMessageFor(m => m.time_placed)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.detail)</td>
            <td>
                @Html.TextBoxFor(m => m.detail)
            </td>
            <td>@Html.ValidationMessageFor(m => m.detail)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.order_status_id)</td>
            <td>
                @{ bool isChecked = true; }
                @foreach (var item in (int[])Enum.GetValues(typeof(OrderStatus)))
                {
                    @Html.RadioButtonFor(m => m.order_status_id, item, isChecked ? new { @checked = "checked" } : null) @((OrderStatus)item)
                    isChecked = false;
                }
            </td>
            <td>@Html.ValidationMessageFor(m => m.order_status_id)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.customer_id)</td>
            <td>
                @Html.DropDownListFor(m => m.customer_id, ViewBag.CustomerData as List<SelectListItem>, "Select Customer", null)
            </td>
            <td>@Html.ValidationMessageFor(m => m.customer_id)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.capacity)</td>
            <td>
                @Html.TextBoxFor(m => m.capacity)
            </td>
            <td>@Html.ValidationMessageFor(m => m.capacity)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.estimated_capacity)</td>
            <td>
                @Html.TextBoxFor(m => m.estimated_capacity)
            </td>
            <td>@Html.ValidationMessageFor(m => m.estimated_capacity)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.delivery_address)</td>
            <td>
                @Html.TextAreaFor(m => m.delivery_address, new { row = 5, cols = 20 })
            </td>
            <td>@Html.ValidationMessageFor(m => m.delivery_address)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.service_total_price)</td>
            <td>
                @Html.TextBoxFor(m => m.service_total_price)
            </td>
            <td>@Html.ValidationMessageFor(m => m.service_total_price)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.priority)</td>
            <td>
                @Html.TextBoxFor(m => m.priority)
            </td>
            <td>@Html.ValidationMessageFor(m => m.priority)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.review_id)</td>
            <td>
                @Html.TextBoxFor(m => m.review_id)
            </td>
            <td>@Html.ValidationMessageFor(m => m.review_id)</td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Create" /></td>
        </tr>
    </table>
}

