﻿@model LuandryCustomerApp.placed_orders


<h2>Delete Orders</h2>
@using (Html.BeginForm("delete", "PlacedOrders", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.id)
    <div class="form-group">
        <label>Create At</label>
        <p>@Model.created_at</p>
    </div>
    <div class="form-group">
        <label>Update At</label>
        <p>@Model.updated_at</p>
    </div>
    <div class="form-group">
        <label>Delete At</label>
        <p>@Model.deleted_at</p>
    </div>
    <div class="form-group">
        <label>Store Id</label>
        <p>@Model.store_id</p>
    </div>
    <div class="form-group">
        <label>Time Placed</label>
        <p>@Model.time_placed</p>
    </div>
    <div class="form-group">
        <label>Detail</label>
        <p>@Model.detail</p>
    </div>
    <div class="form-group">
        <label>Status</label>
        <p>@Model.order_status_id</p>
    </div>
    <div class="form-group">
        <label>Customer Id</label>
        <p>@Model.customer_id</p>
    </div>
    <div class="form-group">
        <label>Capacity</label>
        <p>@Model.capacity</p>
    </div>
    <div class="form-group">
        <label>Estimated Capacity</label>
        <p>@Model.estimated_capacity</p>
    </div>
    <div class="form-group">
        <label>Delivery Address</label>
        <p>@Model.delivery_address</p>
    </div>
    <div class="form-group">
        <label>Delivery Latitude</label>
        <p>@Model.delivery_latitude</p>
    </div>
    <div class="form-group">
        <label>Delivery Longitude</label>
        <p>@Model.delivery_longitude</p>
    </div>
    <div class="form-group">
        <label>Total Price</label>
        <p>@Model.service_total_price</p>
    </div>
    <div class="form-group">
        <label>Priority</label>
        <p>@Model.priority</p>
    </div>
    <div class="form-group">
        <label>Review Id</label>
        <p>@Model.review_id</p>
    </div>
    <div><input type="submit" value="Delete" /></div>
    

}


