﻿@model IEnumerable<PlacedOrderListViewModel>
@{
    ViewBag.Title = "PlacedOrder Management";

    var routeValues = new RouteValueDictionary()
    {
        ["PageNumber"] = ViewBag.PageNumber,
        ["PageSize"] = ViewBag.PageSize,
        ["SortField"] = ViewBag.SortField,
    };
    int count = Model.Count();
    var defaultQueryString = Html.BuildQueryString(routeValues);
}

<!-- extra div for emulating position:fixed of the menu -->
<div class="st-content-inner">
    <div class="container-fluid">

        <div class="page-section">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                    <h4 class="page-section-heading">Placed Orders Infomation</h4>
                    <div class="panel panel-default">

                        <div class="mb-10 col-md-4 col-sm-6 col-lg-3">
                            @{
                                routeValues["PageNumber"] = 1;
                                routeValues["SortField"] = ViewBag.SortField;
                                Html.RenderPartial("ListViewComponents/_PageSize", new PageSizeViewModel()
                                {
                                    SelectedValue = ViewBag.PageSize,
                                    RouteValues = routeValues
                                });
                            }
                            <i style="color:#3498DB" class="md md-add-box"></i><a href="/PlacedOrders/Create">Create Customer</a>
                        </div>
                        @*<div class="mb-10">
                            @{
                                routeValues["PageNumber"] = 1;
                                routeValues["PageSize"] = ViewBag.PageSize;
                                routeValues["SortField"] = ViewBag.SortField;
                                using (Html.BeginForm("Index", "PlacedOrders", routeValues, FormMethod.Post, null))
                                {
                                }
                            }
                        </div>*@
                        <!-- Data table -->
                        <table class="table" cellspacing="0" width="100%" id="table1">
                            <thead>
                                <tr>
                                    @{
                                        routeValues["PageNumber"] = 1;
                                        routeValues["PageSize"] = ViewBag.PageSize;
                                    }
                                    <th>@Html.BuildSortFieldFor(m => m.id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.created_at, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.updated_at, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    @*<th>@Html.BuildSortFieldFor(m => m.deleted_at, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>*@
                                    <th>@Html.BuildSortFieldFor(m => m.store_id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.time_placed, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.detail, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.order_status_id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.customer_id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.capacity, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.estimated_capacity, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.delivery_address, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    @*<th>@Html.BuildSortFieldFor(m => m.delivery_latitude, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>*@
                                    @*<th>@Html.BuildSortFieldFor(m => m.delivery_longitude, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>*@
                                    <th>@Html.BuildSortFieldFor(m => m.service_total_price, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.priority, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.review_id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th style="color:#3498DB">Delete</th>
                                    @*<th style="color:#3498DB">Delete</th>*@
                                </tr>
                            </thead>
                            
                            <tbody id="tbody1" data-routeValues="@defaultQueryString" data-numberOfRows="@count">
                                @foreach (var item in Model)
                                {
                                <tr>
                                    @*<td>@Html.DisplayFor(m => item.id)</td>*@
                                    <td>@Html.ActionLink("Edit","Edit", "PlacedOrders", new { id = item.id }, null)</td>
                                    <td>@Html.DisplayFor(m => item.created_at)</td>
                                    <td>@Html.DisplayFor(m => item.updated_at)</td>
                                    @*<td>@Html.DisplayFor(m => item.deleted_at)</td>*@
                                    <td>@Html.DisplayFor(m => item.store_id)</td>
                                    <td>@Html.DisplayFor(m => item.time_placed)</td>
                                    <td>@Html.DisplayFor(m => item.detail)</td>
                                    <td>@Html.DisplayFor(m => item.order_status_id)</td>
                                    <td>@Html.DisplayFor(m => item.customer_id)</td>
                                    <td>@Html.DisplayFor(m => item.capacity)</td>
                                    <td>@Html.DisplayFor(m => item.estimated_capacity)</td>
                                    <td>@Html.DisplayFor(m => item.delivery_address)</td>
                                    @*<td>@Html.DisplayFor(m => item.delivery_latitude)</td>*@
                                    @*<td>@Html.DisplayFor(m => item.delivery_longitude)</td>*@
                                    <td>@Html.DisplayFor(m => item.service_total_price)</td>
                                    <td>@Html.DisplayFor(m => item.priority)</td>
                                    <td>@Html.DisplayFor(m => item.review_id)</td>
                                    <td>
                                        @using (Html.BeginForm("Delete", "PlacedOrders", FormMethod.Post))
                                        {
                                            @Html.Hidden("RouteValues", Html.CombineQueryString(defaultQueryString, new Dictionary<string, object>() { ["NumberOfRows"] = count }))
                                            @Html.Hidden("Id", item.id)
                                            <input class="btn btn-danger" type="submit" value="Delete" />
                                        }
                                    </td>
                                    @*<td>
            <input type="button" value="Delete By Ajax" data-deleteId="@item.id" />
        </td>*@
                                </tr>
                                }
                            </tbody>
                        </table>

                        <div class="mb-10">
                            @{
                                routeValues["PageSize"] = ViewBag.PageSize;
                                routeValues["SortField"] = ViewBag.SortField;
                                Html.RenderAction("RenderPaging", "ListViewComponents", new
                                {
                                    pagingViewModel = new PagingViewModel()
                                    {
                                        Action = "Index",
                                        Controller = "PlacedOrders",
                                        PageNumber = ViewBag.PageNumber,
                                        TotalPages = ViewBag.TotalPages,
                                        RouteValues = routeValues
                                    }
                                });
                            }
                        </div>


                        <!-- // Data table -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /st-content-inner -->




@section CustomJs{
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            var $pageSize = document.getElementById('pageSize');

            //event
            $pageSize.addEventListener('change', function () {
                var routeValues = this.getAttribute('data-routeValues');

                var url = `/PlacedOrders/Index?pagesize=${this.value}`;
                url += routeValues !== '' ? `&${routeValues}` : '';
                window.location = url;
            });


            /*----------------------------------*/
            var $table1 = document.getElementById('table1');
            var $tbody1 = $table1.tBodies.namedItem('tbody1');

            $tbody1.addEventListener('click', function (event) {
                event = event || window.event;
                event.target = event.target || event.srcElement;

                var $target = event.target;
                if ($target.type === 'button' && $target.hasAttribute('data-deleteId')) {
                    var id = $target.getAttribute('data-deleteId'),
                        routeValues = $tbody1.getAttribute('data-routeValues'),
                        numberOfRows = $tbody1.getAttribute('data-numberOfRows');

                    var client = new XMLHttpRequest();
                    client.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            switch (this.status) {
                                case 200: {
                                    alert(this.statusText);

                                    var pattern = /pagenumber=(\d+)/i;
                                    if (numberOfRows == 1) {
                                        if (pattern.test(routeValues)) {
                                            var pageNumber = routeValues.match(pattern)[1];

                                            if (pageNumber > 1) {
                                                routeValues = routeValues.replace(pattern, `PageNumber=${(pageNumber - 1)}`);
                                            }
                                        }
                                    }

                                    window.location = '/PlacedOrders/Index' + (routeValues !== '' ? `?${routeValues}` : '');
                                    break;
                                }

                                case 400: break;

                                case 404: break;

                                case 500: break;
                                default: break;
                            }
                        }
                    }

                    client.open('post', '/PlacedOrders/Delete', true);
                    client.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    client.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                    client.send(`id=${id}`);

                }
            });
        })
    </script>
}