﻿@model PlacedOrderModifyViewModel

<h2>Save</h2>
@using (Html.BeginForm("save", "PlacedOrders", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.id > 0)
    {
        @Html.HiddenFor(a => a.id)
    }

    <div class="form-group">
        <label>Create At</label>
        @Html.TextBoxFor(a => a.created_at, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.created_at)
    </div>
    <div class="form-group">
        <label>Update At</label>
        @Html.TextBoxFor(a => a.updated_at, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.updated_at)
    </div>
    <div class="form-group">
        <label>Delete At</label>
        @Html.TextBoxFor(a => a.deleted_at, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.deleted_at)
    </div>
    <div class="form-group">
        <label>Store Id</label>
        @Html.TextBoxFor(a => a.store_id, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.store_id)
    </div>
    <div class="form-group">
        <label>Time Placed</label>
        @Html.TextBoxFor(a => a.time_placed, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.time_placed)
    </div>
    <div class="form-group">
        <label>Detail</label>
        @Html.TextBoxFor(a => a.detail, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.detail)
    </div>
    <div class="form-group">
        <label>Status</label>
        @Html.TextBoxFor(a => a.order_status_id, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.order_status_id)
    </div>
    <div class="form-group">
        <label>Customer Id</label>
        @Html.TextBoxFor(a => a.customer_id, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.customer_id)
    </div>
    <div class="form-group">
        <label>Capacity</label>
        @Html.TextBoxFor(a => a.capacity, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.capacity)
    </div>
    <div class="form-group">
        <label>Estimated Capacity</label>
        @Html.TextBoxFor(a => a.estimated_capacity, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.estimated_capacity)
    </div>
    <div class="form-group">
        <label>Delivery Address</label>
        @Html.TextBoxFor(a => a.delivery_address, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.delivery_address)
    </div>
    <div class="form-group">
        <label>Delivery Latitude</label>
        @Html.TextBoxFor(a => a.delivery_latitude, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.delivery_latitude)
    </div>
    <div class="form-group">
        <label>Delivery Longitude</label>
        @Html.TextBoxFor(a => a.delivery_longitude, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.delivery_longitude)
    </div>
    <div class="form-group">
        <label>Total Price</label>
        @Html.TextBoxFor(a => a.service_total_price, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.service_total_price)
    </div>
    <div class="form-group">
        <label>Priority</label>
        @Html.TextBoxFor(a => a.priority, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.priority)
    </div>
    <div class="form-group">
        <label>Review Id</label>
        @Html.TextBoxFor(a => a.review_id, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.review_id)
    </div>
    <div>
        <input type="submit" name="save" value="" />
    </div>

}

