﻿@model IEnumerable<PlacedOrderListViewModel>
@{
    ViewBag.Title = "PlacedOrder Management";

    var routeValues = new RouteValueDictionary()
    {
        ["PageNumber"] = ViewBag.PageNumber,
        ["PageSize"] = ViewBag.PageSize,
        //["SortField"] = ViewBag.SortField,
    };
    int count = Model.Count();
    var defaultQueryString = Html.BuildQueryString(routeValues);
}

<!-- extra div for emulating position:fixed of the menu -->
<div class="st-content-inner">
    <div class="container-fluid">

        <div class="page-section">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                    <h4 class="page-section-heading">Placed Orders Infomation</h4>
                    <div class="panel panel-default">
                        <!-- Data table -->
                        <table data-toggle="data-table" class="table" cellspacing="0" width="100%" id="table1">
                            <thead>
                                <tr>
                                    @{
                                        routeValues["PageNumber"] = 1;
                                        routeValues["PageSize"] = ViewBag.PageSize;
                                    }
                                    <th>@Html.BuildSortFieldFor(m => m.id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.created_at, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.updated_at, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    @*<th>@Html.BuildSortFieldFor(m => m.deleted_at, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>*@
                                    <th>@Html.BuildSortFieldFor(m => m.store_id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.time_placed, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.detail, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.order_status_id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.customer_id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.capacity, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.estimated_capacity, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.delivery_address, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    @*<th>@Html.BuildSortFieldFor(m => m.delivery_latitude, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>*@
                                    @*<th>@Html.BuildSortFieldFor(m => m.delivery_longitude, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>*@
                                    <th>@Html.BuildSortFieldFor(m => m.service_total_price, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.priority, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                    <th>@Html.BuildSortFieldFor(m => m.review_id, ViewBag.SortField as string, "Index", "PlacedOrders", routeValues, null)</th>
                                </tr>                            </thead>     
                            <tbody id="tbody1" data-routeValues="@defaultQueryString" data-numberOfRows="@count">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.id)</td>
                                        <td>@Html.DisplayFor(m => item.created_at)</td>
                                        <td>@Html.DisplayFor(m => item.updated_at)</td>
                                        @*<td>@Html.DisplayFor(m => item.deleted_at)</td>*@
                                        <td>@Html.DisplayFor(m => item.store_id)</td>
                                        <td>@Html.DisplayFor(m => item.time_placed)</td>
                                        <td>@Html.DisplayFor(m => item.detail)</td>
                                        <td>@Html.DisplayFor(m => item.order_status_id)</td>
                                        <td>@Html.DisplayFor(m => item.customer_id)</td>
                                        <td>@Html.DisplayFor(m => item.capacity)</td>
                                        <td>@Html.DisplayFor(m => item.estimated_capacity)</td>
                                        <td>@Html.DisplayFor(m => item.delivery_address)</td>
                                        @*<td>@Html.DisplayFor(m => item.delivery_latitude)</td>*@
                                        @*<td>@Html.DisplayFor(m => item.delivery_longitude)</td>*@
                                        <td>@Html.DisplayFor(m => item.service_total_price)</td>
                                        <td>@Html.DisplayFor(m => item.priority)</td>
                                        <td>@Html.DisplayFor(m => item.review_id)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- // Data table -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /st-content-inner -->


@section CustomJs{
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            var $pageSize = document.getElementById('pageSize');

            //event
            $pageSize.addEventListener('change', function () {
                var routeValues = this.getAttribute('data-routeValues');

                var url = `/Customers/Index?pagesize=${this.value}`;
                url += routeValues !== '' ? `&${routeValues}` : '';
                window.location = url;
            });
        })
    </script>
}