﻿@{ string path = "Components/"; }
<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-l2" lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/www/customs/css/common.css" rel="stylesheet" />
    @RenderSection("CustomCss", false)
    @{Html.RenderPartial($"{path}01_Header");}
</head>
<body>
    <!-- Wrapper required for sidebar transitions -->
    <div class="st-container">
        <!-- Fixed navbar -->
        @{Html.RenderPartial($"{path}02_Body_Fixednavbar");}
        <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
        @{Html.RenderPartial($"{path}03_Body_SideBarChat");}
        <!-- sidebar effects OUTSIDE of st-pusher: -->
        <!-- st-effect-1, st-effect-2, st-effect-4, st-effect-5, st-effect-9, st-effect-10, st-effect-11, st-effect-12, st-effect-13 -->
        <!-- content push wrapper -->
        <div class="st-pusher">
            <!-- Sidebar component with st-effect-3 (set on the toggle button within the navbar) -->
            @{Html.RenderPartial($"{path}04_Body_SidebarMenu");}
            <!-- sidebar effects INSIDE of st-pusher: -->
            <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->
            <!-- this is the wrapper for the content -->
            <div class="st-content" id="content">
                <!-- extra div for emulating position:fixed of the menu -->
                @RenderBody();
                @RenderSection("CustomJs", false)
                <!-- /st-content-inner -->
            </div>
            <!-- /st-content -->
        </div>
        <!-- /st-pusher -->
        <!-- Footer -->
        @{Html.RenderPartial($"{path}05_Body_Footer");}
        <!-- // Footer -->
    </div>
    <!-- /st-container -->
    <!-- Modal -->
    @{Html.RenderPartial($"{path}06_Body_Modal");}
    <!-- Inline Script for colors and config objects; used by various external scripts; -->
    @{Html.RenderPartial($"{path}07_Body_Script");}
</body>
</html>

@*<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/www/customs/css/common.css" rel="stylesheet" />
    @RenderSection("CustomCss", false)
</head>
<body>
    <h1>Luandry</h1>
    @RenderBody()
    @RenderSection("CustomJs", false)
</body>
</html>*@