﻿.mb-10{
    margin-bottom:10px;
}

.link {
    border: 1px solid blue;
    color: blue;
    font-weight: 600;
    padding: 2px;
    margin: 2px;
    text-decoration: none;
}

.link:hover {
    border-color: red;
    color: red;
}

ul.paging li{
    display: inline-block;
    list-style: none;
    margin: 5px 0;
}

ul.paging li a.active {
    border-color: red;
    color: red;
}

ul.paging li a.disabled {
    border-color: gray;
    color: gray;
    cursor: not-allowed;
}