﻿@model PageSizeViewModel
<div class="form-group">
    <select id="pageSize" data-routeValues="@Html.BuildQueryString(Model.RouteValues, new string[] { "PageSize" })">
        @for (int i = 1; i <= 5; i++)
        {
            int temp = i * 10;
            <option value="@temp" @(Model.SelectedValue == temp ? "selected" : string.Empty)>@temp</option>
        }
    </select>
    <br />
</div>
