﻿@model PagingViewModel

<ul class="paging">
    <li>
        @{ Model.RouteValues["PageNumber"] = 1; }
        <a href="@Url.Action(Model.Action, Model.Controller, Model.RouteValues)"
           class="link@(Model.PageNumber == 1 ? " disabled" : string.Empty)">First</a>
    </li>

    @for (int i = Model.StartPage; i <= Model.EndPage; i++)
    {
        <li>
            @{Model.RouteValues["PageNumber"] = i;}
            <a href="@Url.Action(Model.Action, Model.Controller, Model.RouteValues)"
               class="link@(Model.PageNumber == i ? " active" : string.Empty)">@i</a>
        </li>
    }
    <li>
        @{ Model.RouteValues["PageNumber"] = Model.TotalPages; }
        <a href="@Url.Action(Model.Action, Model.Controller, Model.RouteValues)"
           class="link@(Model.PageNumber == Model.TotalPages?" disabled": string.Empty)">Last</a>
    </li>
</ul>